<!DOCTYPE html>
<html
	lang="ja"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/reset.css}" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <title>日報管理システム</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <h1>日報管理システム</h1>
            </div>
            <div layout:fragment="content">
            	
            </div>
            <div id="footer">
                by Akihiro Hata.
            </div>
        </div>
    </body>
</html>